{% load static %}

<!DOCTYPE html>
<html lang="es" data-bs-theme='{{ request.COOKIES.theme }}'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static "styles/main.css" %}">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <meta name='description' content="Scull Suite (portfolio) to show programming skills develop applications, using Python, Django, Typescript, Angular and other tools."></meta>
    <title>Scull Suite</title>
</head>
<body>
    <div class="container-fluid bg-secondary-subtle">
        <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <a class="navbar-brand" href="#"><i class="bi bi-briefcase"></i> Scull Suite</a>

                <div>
                    <!-- Useful to center navbar logo on small screens. -->
                </div>

                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Scull Suite</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    
                    <div class="offcanvas-body justify-content-end">
                        <ul class="navbar-nav">
                            <li>
                                <button class="btn btn-outline-primary" id="theme-button">
                                    {% if request.COOKIES.theme == 'light' or not request.COOKIES.theme %} 
                                        <i class="bi bi-sun-fill" id="theme-icon"></i>
                                        <span id="theme-text">Light</span>
                                    {% else %}
                                        <i class="bi bi-moon-fill" id="theme-icon"></i>
                                        <span id="theme-text">Dark</span>
                                    {% endif %}
                                </button>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link" href="#applications">Applications</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#code">Code</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about-me">About me</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        
        <main class="container-fluid">
        
            <div class="text-light d-flex flex-column min-vh-100 justify-content-center align-items-center" style="background-image:url('{% static 'images/fullstack-developer.webp' %}')">
                <h1 class="bg-dark">Ariel Hernandez Scull</h1>
                <h2 class="bg-dark">Fullstack Developer</h2>
                <a class="bg-dark" href="https://scullsuite.com/legacy">Old Suite</a>
                <a class="btn btn-primary" href="#applications">Show applications</a>
            </div>

            <section id="applications" class="d-flex flex-column min-vh-100 text-center">
                
                <h2>Applications</h2>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <a href="#" target="_blank">
                                <img class="card-img" src="{% static 'images/recipes-demo.webp' %}" alt="Recipes application demo screenshoot" lazy>
                            </a>
                            
                            <div class="card-body">
                                <p class="card-text">
                                    A simple application to manage recipes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            
            </section>

            <section  id="code" class="d-flex flex-column min-vh-100 text-center">
                <h2>Code</h2>
                
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <a href="#" target="_blank">
                                <img class="card-img" src="{% static 'images/backend.svg' %}" alt="Image that represents backend" lazy>
                            </a>
                            <div class="card-body">
                                <p>Backend</p>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <a href="#" target="_blank">
                                <img class="card-img" src="{% static 'images/frontend.svg' %}" alt="Image that represents frontend" lazy>
                            </a>
                            
                            <div class="card-body">
                                <p>Frontend</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <a href="https://scullsuite.com/legacy" target="_blank">
                                <img class="card-img" src="{% static 'images/old-portfolio.webp' %}" alt="Image that represents backend" lazy>
                            </a>
                            <div class="card-body">
                                <p>Old Suite</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>

            <section  id="about-me" class="d-flex flex-column min-vh-100">
                <!--
                    What do you do
                    Technology Stack
                    Methodology

                -->
                <h2 class="text-center">About me</h2>
                <p>
                    I'm a pasionate fullstack developer. I love the process 
                    of build an application, from the idea to the code. I able
                    to develop several parts of a modern application (database, code executed
                    on server and code executed on client) and deploy to production on 
                    cloud platform. Currently, to do my job done, I use several tools:
                </p>
                <ul>
                    <li><strong>Kanban</strong> (software methodology)</li>
                    <li><strong>Github</strong> (code repository)</li>
                    <li><strong>PostgreSQL</strong> (database)</li>
                    <li><strong>Python</strong> (backend language)</li>
                    <li><strong>Django</strong> (backend framework)</li>
                    <li><strong>TypeScript</strong> (frontend language)</li>
                    <li><strong>Angular</strong> (frontend framework)</li>
                    <li><strong>Bootstrap</strong> (CSS framework for static pages, like this)</li>
                    <li><strong>AWS</strong> (deploy code to production)</li>
                    <li>Other related libraries or tools, see the <a href="#code">code</a> above</li>
                </ul>
                <p>
                    Besides fullstack development, I like problem solving, puzzles, 
                    electronics (install, repair, circuit design), mathematics, 
                    data analysis, artificial intelligence, network 
                    administration, cybersecurity, GNU/Linux.. In general I like science
                    , technology and how to apply them to solve everyday problems.
                </p>
            </section>

            <section class="text-center" id="contact">
                
                <h2>Contact</h2>

                <img class="img-fluid" src="{% static 'images/telegram.svg' %}" alt="Telegram" lazy>
                <a href="http://t.me/ascull" target="_blank">Telegram</a>
                
                
                <img class="img-fluid" src="{% static 'images/linkedin.svg' %}" alt="LinkedIn" lazy>
                <a href="http://www.linkedin.com/in/ariel-scull-b4a598183" target="_blank">LinkedIn</a>

            </section>

        </main>
        {% block footer %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>
        const htmlTag = document.querySelector('html');
        const themeButton = document.getElementById('theme-button');
        const themeIcon = document.getElementById('theme-icon');
        const themeText = document.getElementById('theme-text');

        function getCookieValue(cookies, key) {
            /**
                Get the value of a cookie.
            */

            return cookies.split('; ').find(row => row.startsWith(key)).split('=')[1];
        }

        function changeUI(theme) {
            /**
                Change the User Interface of the button related with the theme.
            */

            if (theme === 'light') {
                themeIcon.className = 'bi bi-sun-fill';
                themeText.textContent = 'Light';
            } else {
                themeIcon.className = 'bi bi-moon-fill';
                themeText.textContent = 'Dark';
            }
        }

        function changeTheme() {
            /**
                Change the theme of the site.
            */

            
            if (getCookieValue(document.cookie, 'theme') === 'light') {
                document.cookie = 'theme=dark; path=/';
                changeUI('dark');
                htmlTag.setAttribute('data-bs-theme', 'dark');
            } else {
                document.cookie = 'theme=light; path=/';
                changeUI('light');
                htmlTag.setAttribute('data-bs-theme', 'light');
            }
        }
        window.onload = () => {
            if (!document.cookie.includes('theme')) {
                document.cookie = 'theme=light; path=/';
            }
        }
        themeButton.addEventListener('click', changeTheme);
    </script>
    {% block body_bottom %}{% endblock  %}
</body>
</html>